<!DOCTYPE html>
<html lang="it" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title>Test for Diennea</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-img@latest/dist/v-img.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>

  <body>

    <div id="generale">

      <div id="icon">
        <i class="fas fa-th" @click="changeDisplay()">Change View</i>
      </div>

      <div id="table" class="is-active" :class="[ isLoading ? 'is-active' : 'not-active' ]">
        <table>
          <thead>
            <tr>
              <th v-for="key in Columns">
                {{ key }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="value in filmData">
              <td v-for="prop in value" v-if="prop!=value.image && prop!=value.alt">{{prop}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="grid"  class="is-active" :class="[ isLoading ? 'is-active' : 'not-active' ]">
        <div id="first" v-for="value in filmData">
          <img :src="value.image" :alt="value.alt"/>
          <p v-for="prop in value" v-if="prop!=value.image && prop!=value.alt">{{prop}}</p>
        </div>
      </div>

    </div>

    <script src="VueJs.js"></script>

  </body>
</html>
